shader "base:planet"
color-texture "bodies/dactyl/color"
normal-texture "bodies/dactyl/normal"
hapke scatter-texture="bodies/dactyl/scatter" surge-texture="bodies/dactyl/surge" porosity=1.86 roughness=23 blend=1 light-boost=0.45 gamma-boost=0.75
