shader "base:planet"
color-texture "bodies/hydra/color"
normal-texture "bodies/hydra/normal"
hapke scatter-texture="bodies/hydra/scatter" surge-texture="bodies/hydra/surge" porosity=1.86 roughness=11 blend=1 light-boost=0.3 gamma-boost=0.82
